
<section class="row-max">
  <div class="grid_12 title-row" style="background-image: url(<%= asset_path( "screenshots/" + File.basename( @images[0] ) ) %>);">
    <h1>Jolly and Friends</h1>
    <p>Spacebuild3 and DarkRP</p>
  </div>
</section>

<section class="row">
  <div class="grid_12">
    <div style="overflow-x:hidden;white-space:nowrap;" id="screenshots">
    </div>
  </div>
</section>

<section class="row">
  <div class="grid_4">
    <h2>New Feed</h2>
    <ul class="twitter">
<% (1...5).each do |i| %>
      <li class="tweet">
        <img src="http://placehold.it/64x64" width="64" height="auto" class="user" />

        <div class="title">
          <span class="text">Jolly and Friends</span>
          <a class="source" href="#">@JollyAndFriends</a>
          <span class="time">1h</span>
        </div>

        <p class="text">Some update about the server <a href="#">#gmod</a></p>
      </li>
<% end %>
    </ul>
  </div>

  <div class="grid_8">
    <h2>Servers</h2>

<% @servers.each do |server| %>
    <% status = server.gmod_server_statuses.last[:reachable] %>
    <% if status == true %>
    <h4 title="Click to Join!"><%= link_to server[:name], "steam://connect/#{server.ip}:#{server.port}", :style => "text-decoration: none;" %></a></h4>
    <span style="color:green" title="Last checked <%= time_ago_in_words( server.last_checked ) %>">Online</span> with <%= server.gmod_server_statuses.last[:player_count] %> players.<br />
    <% else %>
    <h4><%= server[:name] %></a></h4>
    <span style="color:red" title="Last checked <%= time_ago_in_words( server.last_checked ) %>">Offline</span> since <%= server.last_online %>
    <% end %>

<% end %>
  </div>

</section>

<% content_for :scripts do %>
<script type="text/javascript">
<!--

<% @images.each do |image| %>
  (function(){
    var img = new Image();
    img.src = '<%= asset_path( "screenshots/" + File.basename( image ) ) %>';
    img.onload = function() {
      $("#screenshots").append( $("<img>").attr({src: this.src, alt: this.src}) );
    }
  })();
<% end %>

//-->
</script>
<% end %>
