<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <title>Jolly and Friends</title>
  
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'amazium/amazium', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'amazium/amazium-percent', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'amazium/base', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'amazium/form', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'amazium/layout', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :styles %>

  <meta name="vewiport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  
  <%= csrf_meta_tags %>
  
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>
<body>

<header>
  <div class="row">
    <nav class="grid_12">
      <a href="/" class="logo"><%= image_tag "garrysmod.logo.medium.svg.png", :width => 64, :height => 64 %></a>
      <a href="#" class="mobile-nav show-mobile">&#xe003;</a>
      <ol class="navigation">
        <li class="show-mobile"><a href="#index">Jolly and Friends</a></li>
        <li><a href="/servers">Servers</a></li>
        <li><a href="#rules">Rules</a></li>
        <li><a href="#development">Development</a></li>
        <% if @user.nil? %>
        <li><a href="#signup" class="login">Log In</a></li>
        <% else %>
        <li><a href="#profile">Profile</a></li>
        <li><a href="#signup" class="logout">Log Out</a></li>
        <% end %>
      </ol>
    </nav>
  </div>
</header>

<%= yield %>

<footer>
  <section class="row">
    <article class="grid_6">
      <a href="https://github.com/MikeBallan/Amazium" style="float: none; margin: 0;" target="_blank">This site may contain traces of Amazium</a><br />
      Developed by <a href="http://mrbarry.com" style="float: none; margin: 0;">MrBarry</a> &copy; <%= Time.now.year %>
    </article>
    <article class="grid_6">
      <a href="#contact">Contact</a>
      <a href="/servers">Servers</a>
      <a href="/">Home</a>
    </article>
  </section>
</footer>

  <%= yield :scripts %>

</body>
</html>
