<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
  <title>Jolly and Friends</title>
  
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'amazium/amazium', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'amazium/amazium-percent', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'amazium/base', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'amazium/form', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'amazium/layout', media: 'all', 'data-turbolinks-track' => true %>

  <meta name="vewiport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="row">
    <nav class="grid_12">
      <!-- <a href="#home" class="logo"><%= image_tag "gmod-logo-large.jpg", :width => 64, :height => 64 %></a> -->
      <a href="#" class="mobile-nav show-mobile">&#xe003;</a>
      <ol class="navigation">
        <li class="show-mobile"><a href="#index">Jolly and Friends</a></li>
        <li><a href="#servers">Servers</a></li>
        <li><a href="#rules">Rules</a></li>
        <li><a href="#soon">Coming Soon</a></li>
        <li><a href="#contact">Contact</a></li>
      </ol>
    </nav>
  </div>
</header>

<%= yield %>

</body>
</html>
